{
  "presets": ["flow", ["env", {
    "targets": {
      "node": "7"
    }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@natlibfi/melinda-deduplication-common": "@natlibfi/melinda-deduplication-common/dist"
      }
      }]
    ],
    "env": {
      "test": {
        "plugins": ["rewire"]
      }
    }
  }
