{
  "presets": ["flow", ["env", {
    "targets": {
      "node": "7"
    }
  }]],
  "plugins": [["module-resolver", {
    "alias": {
      "@natlibfi/melinda-deduplication-common": "./node_modules/@natlibfi/melinda-deduplication-common/dist"
    }
    }]]
}
